@media screen and (max-width: 500px) {
    .intro-box {
        padding-bottom: 5em;

    }

    .about-me h1 {
        font-size: 4em;
        padding-top: 8px;
    }

    .about-me h2 {
        font-size: 1.6em;
    }

    h2.blog-title {
        font-size: 2em;
    }

    .about-me {
        margin: 40% 0 auto !important;
    }

    .school p,
    .work p,
    .certs p,
    .skills p,
    .exp p {
        font-size: 1.6em;
    }

    .wrapper-box p {
        font-size: 1em;
    }

    .project-btn {
        font-size: 1.4em;
        word-wrap: break-word;
    }

    #projects img {
        width: 60vw !important;
    }


    footer p {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 991px) {
    #navbar {
        background-color: #30165e;
    }

    .navbar-right {
        margin-right: 0px !important;
        font-size: 1em;
        padding: 0.4em;
    }

    .navbar-brand {
        margin-top: 0.4em;
    }

    #details {
        margin: 4em 0 !important;
    }

    .skill {
        width: 60px;
    }

    .skill-box {
        margin: 0px;
    }

    .avatar {
        margin: 0px auto 40px;
    }

    .contact a,
    .contact p,
    .input-lg,
    #sub-btn {
        font-size: 1em;
        padding: 10px;
    }

    .school,
    .work,
    .certs,
    .skills,
    .exp {
        margin: 9px -74px 120px;
    }

    .nav>li>a {
        left: 25px;
    }

    /*Optimize space for elements*/
    #projects,
    .blog-box,
    article.skill-box {
        margin: -1em;
    }

    article.skill-box {
        margin-top: 2em;
    }

    /*Optimize visibillity for elements*/
    .post,
    .project-box,
    .contact-box form {
        background-color: #031b2f;
        margin: -1em;
        margin-top: 4em;
        padding: 1.5em;
        padding-bottom: 4em !important;
        border-radius: 3px;
        box-shadow: 0px 2px 4px;
        color: #000;
    }

    #projects img {
        width: 60vw;
    }

    h3.blog-text,
    article.project-box h2 {
        color: #d1e20e;
        text-shadow: 1px 0px 3px #052432;
    }

    .blog-article-preview,
    .project-box p {
        color: #eef5fb;
        font-weight: 500;
    }

    .read_time {
        color: #00b2ff !important;
    }

    .school,
    .work,
    .certs,
    .skills,
    .exp {
        margin: auto -2em 8em -5em;
    }

    article.certs.well img {

        width: 30vw;
    }

    .contact {
        margin: -2em;
    }

    .project-box p {
        font-weight: 700;
        margin-top: 2em;
        margin-bottom: 1em;
    }

}

@media screen and (min-width: 992px) {
    #projects img:hover {
        transform: scale(1.4);
    }

    #projects img {
        width: 20vw;
        margin-bottom: 20px;
    }

    article.certs.well img {
        width: 20vw;
    }

    .contact h2 {
        font-size: 2.5em;
        font-weight: 600;
    }
}

@media screen and (min-width: 1440px) {
    .skill {
        margin: 20px;
        width: 90px;
    }

    .project-box img {
        width: 500px;
        padding: 30px;
    }
}