.intro-box {
    padding-bottom: 300px;
    background: rgba(8, 114, 228, 0.82);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(227, 242, 253), rgba(8, 114, 228, 0.82));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(227, 242, 253), rgba(8, 114, 228, 0.82));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(227, 242, 253), rgba(8, 114, 228, 0.82));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(227, 242, 253), rgba(8, 114, 228, 0.82));
    /* Standard syntax */
    padding-top: 100px;
    margin-top: -20px;
}

.about-me h1 {
    font-size: 6em;
    color: white;
}

.about-me {
    padding-top: 200px;
}

.about-me h4 {
    color: white;
    font-size: 2.5em;
}

.wrapper-box {
    padding-bottom: 300px;
}

.wrapper-box h1 {
    font-size: 4em;
}

.wrapper-box p {
    font-size: 2em;
}

.details {
    padding-top: 50px;
}

.avatar {
    margin: 0 auto;
    padding-top: 10px;
}

.skill {
    margin: 20px;
    width: 90px;
}

.skill-box {}
