/* HOME SECTION and INDEX */

:root{
    --base-color:  rgb(5, 54, 100);
    --support-color: rgba(139,109,43,1);
    --base-color-tint: rgba(8, 114, 228, 0.1);
    --support-color-tint: rgb(5, 54, 100);
    --title-font-color:rgb(255, 255, 255);
    --inner-titles-color: rgb(5, 54, 100);
 
}

.intro-box {
    padding-bottom: 100px;
    background: var(--base-color);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(var(--base-color-tint), var(--base-color));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--base-color-tint), var(--base-color));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--base-color-tint), var(--base-color));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--base-color-tint), var(--base-color));
    /* Standard syntax */
    padding-top: 100px;
    margin-top: -20px;
}

.about-me h1 {
    font-size: 6em;
    color: var(--title-font-color);
    padding-top: 100px;
}

h1,h2,h3{
    color:var(--inner-titles-color);
}

.about-me-title {
    font-size: 3em;
    color: var(--inner-titles-color);
    margin-top: 50px;
    margin-bottom: 50px;
}



.about-me h2 {
    color: var(--title-font-color);
    font-size: 2.5em;
}

.wrapper-box {
    padding-bottom: 50px;
    background: linear-gradient(#073865,#368ae5);
}

.wrapper-box h1 {
    font-size: 4em;
    padding-bottom: 20px;
}

.wrapper-box p {
    font-size: 1.5em;
}

.details {
    padding-top: 20px;
}
section.details>h3{
    font-size: 2.3em;
}

.avatar {
    margin: 0px 10px 40px;
    padding-top: 10px;
    width: 420px;
}

.skill {
    margin: 10px;
    width: 60px;
}

.skill-box {
    margin: 10px 50px;
    border-radius: 0px;

}
article.skill-box{
    box-shadow: 5px 5px 10px;
}

.skill-btn, .skill-btn2, .project-btn , .blog-btn {
    font-size: 2em;
    background-color: #3789e4;
    margin: 5px 8px;
    border-radius: 0px;
}

.skill-btn2 {
    background-color: red;
}

.blog-btn {
    background-color: orange;
}

.social-box {
    padding-top: 80px;
}

.btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 3px 0;
    font-size: 2.6em;
    line-height: 2.00;
    border-radius: 50px;
    margin: 5px;
    color: rgb(255, 255, 255);
    border: 3px solid white;
    background-color: var(--base-color);
}


/* PROJECTS */

.project-box {
    margin-top: 50px;
   
}

article.project-box h2{
    margin: 0em 0em 0.5em;
    color: var(--base-color);
}



#projects img{
    width: 55%;
    margin-bottom: 20px;
}




.project-btn {
    margin: 20px 0px 20px;
   
    background-color: var(--base-color);
    
}
#projects{
    background-color: white;
    margin: 3.5em;
    padding: 2em;
    box-shadow: 5px 5px 10px;
}

/* CONTACT */

.contact {
    padding-top: 10px;
    padding-bottom: 80px;
    font-size: 1.5em;
}

.contact h1 {
    font-size: 2.5em;
    font-weight: 600;
}

.contact p {
    padding: 45px 5px 25px 30px;
    font-size: 1.5em;
}

.contact a {
    text-decoration: none;
    color: green;
    margin: 0px 30px;
    font-size: 1.6em;
}

.contact-box {
    margin-bottom: 50px;
}

form {
    padding: 60px 20px 0px 30px;
}

.input-lg {
    height: 80px;
    font-size: 2em;
    border: none;
    border-bottom: 2px solid rgb(233, 177, 131);
    border-radius: 0px;
}

#msg, #name, #phone, #email {
    color: black;
}

#sub-btn {
    padding: 20px 40px 20px 40px;
    background-color: var(--support-color);
    font-size: 1.5em;
    color: white;
    margin-top: 50px;
}

#sub-btn:hover {
    color: rgb(255, 255, 255);
    background-color: var(--base-color);
}


/* CV */

.cv-intro {
    margin-top: 50px;
    background-color: white;
}

.cv-intro img{
margin-bottom: 30px;
}

p.date {
    font-size: 1.5em;
    padding-top: 50px;
    text-align: right;
}

.exp-box {
    border-left: 5px solid black;
    margin: 150px 0px 0px 150px;
}

article h2, h2.exp-section {
    font-size: 2.9em;
    font-weight: 600;
    margin-bottom: 1em;
    color: white;
}



.exp-box h3 {
    font-size: 2.2em;
    padding-bottom: 40px;
}

.exp-circle, .work-circle, .certs-circle, .skills-circle {
    margin: 0px -42px;
    border: 5px solid black;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 3px 0;
    font-size: 2.6em;
    line-height: 2.00;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}

.exp-circle {
    color: black;
    background-color: aquamarine;
}

.work-circle {
    background-color: #3684db;
}

.certs-circle {
    background-color: var(--base-color);
    color:yellow;
}

.skills-circle {
    background-color: black;
}

.exp-details {
    padding-left: 80px;
    margin-top: -92px;
}

.school, .work, .certs, .skills, .exp {
    margin: 10px 110px 120px 30px;
    background-color: aquamarine;
}

.exp {
    background-color: aquamarine;
    color: black;
}

.work {
    background-color: #3684db;
    color: white;
}
.work-title{
    color: white;
}

.certs {
    background-color: var(--base-color);
    color: yellow;
}
article.certs h3{
    color: yellow;
}
article.certs.well img{
    background-color: white;
}
.skills {
    background-color: black;
    color: white;
}

a:hover {
    text-decoration: none;
}


/* CV END*/

/*  Blog  */

.blog-img{

  margin-bottom: 16px;
}
.blog-text{
  margin-top: 32px;
  text-decoration: none;
  color: var(--inner-titles-color);
  font-weight: bold;

}
h3.blog-text{
    font-size: 2.2em;
}
.blog-title{
  font-size: 3em;
  font-weight: bold;
  color: var(--inner-titles-color);
}

.blog-box, .contact {
    margin: 0px 24px 0px 24px;
    border-radius: 0px;
    box-shadow: 5px 5px 10px;
    background-color: aliceblue;
    margin: auto 3.5em 5em 3.5em;
    padding: 3em;
}

.blog-article-preview{
  font-size: 1em !important;
  font-style: oblique;
  color: #186ec0;
  line-height: 1.7em;
  margin: 1em 0em 2em;
  font-weight: bold;
}

.blog-box img:hover{
    transform: scale(1.1);
}




footer p {
    padding-top: 20px;
    font-size: 2em;
}

footer {
    color: var(--title-font-color);
    background-color: var(--base-color);
    padding-bottom: 20px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(55, 140, 233), rgba(5, 71, 146, 0.82));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(rgb(55, 140, 233), rgba(5, 71, 146, 0.82));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(rgb(55, 140, 233), rgba(5, 71, 146, 0.82));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(rgb(55, 140, 233), rgba(5, 71, 146, 0.82));
    /* Standard syntax */
}
