.intro-box {
    padding-bottom: 300px;
    background: rgba(8, 114, 228, 0.82);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(227, 242, 253), rgba(8, 114, 228, 0.82));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(227, 242, 253), rgba(8, 114, 228, 0.82));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(227, 242, 253), rgba(8, 114, 228, 0.82));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(227, 242, 253), rgba(8, 114, 228, 0.82));
    /* Standard syntax */
    padding-top: 100px;
    margin-top: -20px;
}

.about-me h1 {
    font-size: 6em;
    color: white;
}

.about-me {
    padding-top: 200px;
}

.about-me h4 {
    color: white;
    font-size: 2.5em;
}

.wrapper-box {
    padding-bottom: 300px;
}

.wrapper-box h1 {
    font-size: 4em;
}

.wrapper-box p {
    font-size: 2em;
}

.details {
    padding-top: 20px;
}

.avatar {
    margin: 0 auto 40px;
    padding-top: 10px;
}

.skill {
    margin: 10px;
    width: 60px;
}

.skill-box {
    margin: 50px;
    border-radius: 4px;
    background-color: rgb(227, 242, 253);
}

.social-box {
    padding-top: 80px;
}

.btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 3px 0;
    font-size: 2.6em;
    line-height: 2.00;
    border-radius: 50px;
    margin: 5px;
    color: rgb(255, 255, 255);
    border: 3px solid white;
    background-color: rgb(50, 105, 169);
}

footer p {
    font-size: 2em;
}

footer {
    color: white;
    background-color: #398dea;
    padding-bottom: 20px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(55, 140, 233), rgba(5, 71, 146, 0.82));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(rgb(55, 140, 233), rgba(5, 71, 146, 0.82));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(rgb(55, 140, 233), rgba(5, 71, 146, 0.82));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(rgb(55, 140, 233), rgba(5, 71, 146, 0.82));
    /* Standard syntax */
}
