<div class="contact text-center">
    <h2>Contact</h2>
    <hr style="border: 1px solid var(--base-color)" hr>

    <div class="row">
        <div class="col-md-5 col-md-offset-1 contact-box">


            <form class="form-horizontal text-left">

                <div class="form-group">
                    <label class="sr-only" for="name">Name:</label>
                    <input class="form-control input-lg" type="text" id="name" required placeholder="Your Name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">Email:</label>
                    <input type="email" class="form-control input-lg" id="email" required placeholder="Email address">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="phone">Phone:</label>
                    <input type="text" class="form-control input-lg" id="phone" required placeholder="Phone number">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="phone">Message:</label>
                    <textarea type="textarea" class="form-control input-lg" id="msg" required placeholder="Your message"></textarea>
                </div>

                <button type="submit" class="btn btn-default" id="sub-btn"><strong>Submit </strong></button>
            </form>

        </div>

        <div class="col-md-5 text-left">
            <p>

                Do you want to get in touch with me ? Be it an enquiry about myself, my experience , my CV or even to hang out for a coffee in Beautiful Thessaloniki for a chat. I will be happy to talk about coding , networking , projects...


            </p>
            <p> .. just feel free to drop me a line anytime.</p>
          </br>
<a href="mailto:achimoraites@yahoo.gr"><i class="fa fa-envelope" aria-hidden="true"></i> achimoraites@yahoo.gr</a>

        </div>

    </div>



</div>


</div>
