<section class="container text-left well cv-intro">

    <h2 id="intro" class="exp-section">CV</h2>
    <div class="row">
        <div width="60%" class="col-md-3">
            <img class="img-responsive profile" src="/img/avatar.jpg" />
        </div>
        <div class="col-md-8 col-md-offset-1">
            <p>Achilles Moraites is a passionate self taught Developer , he has studied Network Engineering at the Institute
                of Professional Training in Rhodes , Greece.</p>
            </br>
            <p>Later he attended Cisco's CCNA and CCNP training gaining both Certifications.</p>
            </br>
            <p>Achilles curious Nature led him to learn Programming and since he is diligently working to learn and improve
                his skills in Software Development.</p>
        </div>
    </div>



        <div class="row btn-collection">
                <div class="skills-circle">
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                </div>
            </div>

 



</section>

