<div class="container text-left well cv-intro">

    <h1>Intro</h1>
    <div class="row">
        <div class="col-md-2">
            <img width="256px" src="/img/avatar.jpg" />
        </div>
        <div class="col-md-9 col-md-offset-1">
            <p>Achilles Moraites is a passionate self taught Developer , hes has studied Network Engineering at the Institute of Professional Training in Rhodes , Greece.</p>
            </br>
            <p>Later he attended Cisco's CCNA and CCNP training gaining both Certifications.</p>
            </br>
            <p>Achilles curious Nature led him to learn Programming and since he is diligently working to learn and improve his skills in Software Development.</p>
        </div>
    </div>



</div>

<div class="exp-box container ">
  <!-- EDUCATION SECTION -->
    <div class="row">
        <div class="exp-circle "><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
        <div class="exp-details text-left">
            <h1>Education</h1>
            <div class='school well'>
              <p><strong>2003 - 2005</strong> </p>
              <p> Institution of Profesional Training , Rhodes , Greece</p>
              <p>Associate in <strong> Computer Systems Networking </strong> and Telecommunications</p>

            </div>
        </div>
    </div>

    <div class="row">
      <div class="exp-details text-left">
          <div class='school well'>
            <p><strong>2010 - 2011</strong> </p>
            <p>Info eXperts , Rhodes , Greece</p>
            <p><strong>ICT advanced programming with C++</strong> </p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="exp-details text-left">
          <div class='school well'>
            <p><strong>2011 - 2011</strong> </p>
            <p>Info eXperts , Rhodes , Greece</p>
            <p><strong>CCNA Training</strong> </p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="exp-details text-left">
          <div class='school well'>
            <p><strong>2011 - 2012</strong> </p>
            <p>INTERLEI - International Learning Istitute , Athens, Greece</p>
            <p><strong>CCNP Routing and Switching Training</strong> </p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="exp-details text-left">
          <div class='school well'>
            <p><strong>2015 - 2016</p>
            <p>Codeacademy</p></strong>
            <p>Web development using HTML , CSS , jQuery and Angular</p>
            <p><strong>Web Development</strong> </p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="exp-details text-left">
          <div class='school well'>
            <p><strong>2016 - present</strong> </p>
            <p>Free Code Camp</p>
            <p><strong>Full Stack Web Development</strong> </p>
          </div>
      </div>
    </div>

<!-- WORK SECTION -->
    <div class="row">
        <div class="work-circle"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
        <div class="exp-details text-left">
            <h1>Work</h1>
            <div class='work well'>
              <p><strong>2006 - 2008</p>
              <p>Computer Center Solutions </strong>, Rhodes , Greece</p></strong>
              <p><strong>IT Support specialist </strong></p>
              <p>Design and implementation of Computer Networks for Corporate clients
                troubleshooting and providing customised solutions addressing customer's needs.
              </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='work well'>
              <p><strong>2008 - 2012</p>
              <p>Municipallity of Megisti </strong>, Megisti , Greece</p></strong>
              <p><strong>Driver </strong></p>
              <p>Truck driving , vehicle maintenance and providing IT Consulting to municipal offices.
              </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='work well'>
              <p><strong>May 2014 - Oct 2014</p>
              <p>Dutty Free Shops </strong>, Megisti , Greece</p></strong>
              <p><strong>Cashier </strong></p>
              <p>Providing customer service ,  tailored to fit customer's needs.
              </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='work well'>
              <p><strong>Feb 2014 - May 2016</p>
              <p>Pc-rama </strong>, Thessaloniki , Greece</p></strong>
              <p><strong>Salesman - Customer Service </strong></p>
              <p>Consulting corporate clients and home users addressing their needs using viable
                cost effective solutions.
              </p>
            <p>Customer support and Sales.</p>
            </div>
        </div>
    </div>

<!-- CERTFICATIONS SECTION -->
    <div class="row">
        <div class="certs-circle"><i class="fa fa-trophy" aria-hidden="true"></i></div>
        <div class="exp-details text-left">
            <h1>Certs</h1>
            <div class='certs well'>

              <p><strong>Certified Network Associate CCNA</p>
              <p> Certified Network Professional CCNP</strong></p>
              <p>Cisco</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='certs well'>

              <p><strong>ICT Advanced : Programming with C++</strong></p>
              <p>ICT Europe</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='certs well'>

              <p><strong>Career Edge 2x: Communication and Teamwork</strong></p>
              <p>FullbridgeX</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
          <a target="blank_" href="https://www.cybrary.it/members/cybern4/?tab=profile">
            <div class='certs well'>

              <p><strong>Python for security professionals</strong></p>
              <p><strong>Post exploitation Hacking</strong></p>
              <p>Cybrary</p>
            </div></a>
        </div>
    </div>


    <!-- SKILLS SECTION -->
    <div class="row">
        <div class="skills-circle"><i class="fa fa-diamond" aria-hidden="true"></i></div>
        <div class="exp-details text-left">
            <h1>Skills</h1>
            <div class='skills well'>
              <p>Angular , JavaScript , NodeJS , Express , CSS , Python , GIT , Computer Networking , IT Support , Debian linux , Windows </p>

            </div>

        </div>
    </div>

</div>
