<div class="container text-left well cv-intro">

    <h1 class="exp-section">Intro</h1>
    <div class="row">
        <div class="col-md-2">
            <img width="256px" src="/img/avatar.jpg" />
        </div>
        <div class="col-md-9 col-md-offset-1">
            <p>Achilles Moraites is a passionate self taught Developer , he has studied Network Engineering at the Institute of Professional Training in Rhodes , Greece.</p>
            </br>
            <p>Later he attended Cisco's CCNA and CCNP training gaining both Certifications.</p>
            </br>
            <p>Achilles curious Nature led him to learn Programming and since he is diligently working to learn and improve his skills in Software Development.</p>
        </div>
    </div>



</div>

<div class="exp-box container ">
    <!-- EDUCATION SECTION -->
    <div class="row">
        <div class="exp-circle "><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
        <div class="exp-details text-left">
            <h1 class="exp-section">Education</h1>
            <div class='school well'>
                <h1> <strong>Institution of Professional Training </strong></h1>
                <p>Associate in <strong> Computer Systems Networking </strong> and Telecommunications</p>
                <p class="date">2003 - 2005 , Rhodes , Greece</p>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="exp-details text-left">
            <div class='school well'>
                <h1><strong>Info eXperts</strong></h1>
                <p>2010</p>
                <p> <strong>ICT advanced programming with C++</strong> </p>
                <p>Object oriented programming , data structures and Software Development best practices.</p>
                </br>
                <p>2011</p>
                <p><strong>CCNA Training</strong> </p>
                <p>Basic to Intermediate Networking concepts , planning and configuration of small networks using Cisco equipment</p>
                <p class="date">2010 - 2011  , Rhodes , Greece</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='school well'>
              <a href="http://interlei.gr/" target="blank_" alt="Link to Interlei" ><img style="margin-bottom: 50px" src="http://interlei.gr/images/logo.svg" width="250" alt="Interlei logo" /></a>

                <p><strong>CCNP Routing and Switching Training</strong> </p>
                <p>Advanced Routing , Switching and Troubleshooting Networking for large networks
                . Load balancing , security , design and implementation of networks for optimal operation and reliability. </p>
                <p class="date">2011 - 2012 , Athens, Greece</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='school well'>
                <img style="margin-bottom: 50px" src="/img/icons/cad.png" width="350" alt="Codeacademy logo">

                <p><strong>Web Development</strong> </p>
                <p>Web development using HTML , CSS , jQuery and Angular</p>
                <p>Programming using Python .</p>
                <p> SQL databases .</p>
                <p class="date">2015 - 2016</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='school well'>
                <img src="/img/icons/fcc.png" width="100" alt="FCC logo">
                <h1><strong>Free Code Camp</strong></h1>
                <p><strong>Full Stack Web Development</strong> </p>
                <p class="date">2016 - 2017 , Distance Learning </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='school well'>
              <img src="https://edxuploads.s3.amazonaws.com/organization_logos/logo-ubcx.png" width="100" alt="UBC logo">
                <h1><strong>University of British Columbia </strong></h1>

                <p><strong>Software Development MicroMasters  </strong> </p>

                <p class="date">2017 - present , Distance Learning </p>
            </div>
        </div>
    </div>

    <!-- WORK SECTION -->
    <div class="row">
        <div class="work-circle"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
        <div class="exp-details text-left">
            <h1 class="exp-section">Work</h1>
            <div class='work well'>
                <h1><strong>IT Support specialist </strong></h1>
                <p><strong>Computer Center Solutions</strong></p>
                <p>Design and implementation of Computer Networks for Corporate clients troubleshooting and providing customised solutions addressing customer's needs.
                </p>
                <p class="date">2006 - 2008  , Rhodes , Greece</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='work well'>
                <h1><strong>Driver </strong></h1>
                <p><strong>Municipallity of Megisti</strong> </p>
                <p>Truck driving , vehicle maintenance and providing IT Consulting to municipal offices.
                </p>
                <p class="date">2008 - 2012 , Megisti, Greece</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="exp-details text-left">
            <div class='work well'>
                <h1><strong>Cashier </strong></h1>
                <p><strong>Dutty Free Shops</strong></p>
                <p>Providing customer service .
                </p>
                <p class='date'>May 2014 - Oct 2014 , Megisti, Greece</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='work well'>
                <h1><strong>Customer Service </strong></h1>
                <p><strong>Pc-rama</strong></p>
                <p>Consulting corporate clients and home users addressing their needs using viable cost effective solutions.
                </p>
                <p>Customer support and Sales.</p>
                <p class="date">Feb 2016 - May 2016  , Thessaloniki , Greece</p>
            </div>
        </div>
    </div>

    <!-- CERTFICATIONS SECTION -->
    <div class="row">
        <div class="certs-circle"><i class="fa fa-trophy" aria-hidden="true"></i></div>
        <div class="exp-details text-left">
            <h1 class="exp-section">Certs</h1>
            <div class='certs well'>
<img style="margin-bottom: 50px" src="/img/icons/cisco.png" width="150" alt="Cisco logo" />

              <p><strong><img style="margin-top: 20px" src="/img/icons/ccnp.png" width="256" alt="CCNP logo" /> CCNP</strong></p>

                <p class='date'>Cisco</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <div class='certs well'>
<img style="margin: 0px -20px 50px" src="/img/icons/ict.png" width="350" alt="ICT Europe logo">
                <p><strong>ICT Advanced : Programming with C++</strong></p>
                <p class='date'>ICT Europe</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
          <a alt='view Fullbridge certification ' target="blank_" href="https://courses.edx.org/certificates/d5213e4d4f354756a317d283dffe03b1">
            <div class='certs well'>
<img style="margin: 0px 0px 50px" src="/img/icons/fb.png" width="450" alt="Fullbridge logo">
                <p><strong>Career Edge 2x: Communication and Teamwork</strong></p>
                <p>Certificate Number : c77052d962954ea1a4966303991f719b </p>
                <p class='date'>FullbridgeX</p>
            </div>
          </a>
        </div>
    </div>

    <div class="row">
        <div class="exp-details text-left">
            <a target="blank_" href="https://www.cybrary.it/members/cybern4/?tab=profile">
                <div class='certs well'>
<img style="margin: 0px 0px 50px" src="/img/icons/cyb.png" width="450" alt="Cybrary logo">
                    <p><strong>Python for security professionals</strong></p>
                    <p>Certificate Number : C-00179f2dd-a9ae436</p>
                    <p><strong>Post exploitation Hacking</strong></p>
                    <p>Certificate Number : C-00179f2dd-1883bf</p>
                    <p class='date'>Cybrary</p>
                </div>
            </a>
        </div>
    </div>


    <!-- SKILLS SECTION -->
    <div class="row">
        <div class="skills-circle"><i class="fa fa-diamond" aria-hidden="true"></i></div>
        <div class="exp-details text-left">
            <h1 class="exp-section">Skills</h1>
            <div class='skills well'>
                <p>Angular , JavaScript , NodeJS , Express , CSS , Python , GIT , Computer Networking , IT Support , Debian linux , Windows </p>

            </div>

        </div>
    </div>

</div>
