<div class ="row text-center">

  <div class="col-md-7 col-md-offset-5 social-box">


          

          <a class="btn btn-circle btn-primary" href="https://www.linkedin.com/in/achimoraitis" target="blank_">
            <i class="fa fa-linkedin" aria-hidden="true"></i></a>

          <a class="btn btn-circle btn-primary" href="https://www.freecodecamp.org/portfolio/cyb3rn4u7" target="blank_">
            <i class="fa fa-fire" aria-hidden="true"></i>
          </a>

          <a class="btn btn-circle btn-primary" href="https://github.com/Cyb3rN4u7" target="blank_">
            <i class="fa fa-github" aria-hidden="true"></i>


          </a>

          <a class="btn btn-circle btn-primary" href="http://codepen.io/achimoraites/#" target="blank_">
            <i class="fa fa-codepen" aria-hidden="true"></i>


          </a>

        </div>


</div>
<div  class ="row text-center">
  <p><strong>Achilles Moraites <i class="fa fa-copyright" aria-hidden="true"></i>
  2017 </strong></p>

</div>
