


</br>
<div class='row blog-box'>
<h3 class="blog-title">My Latest Articles</h3>
    <div class="col-md-4">

      <a href="https://achimoraites.blogspot.gr/2017/11/design-patterns-advanced-iterator.html" alt="Advanced Iterator Pattern" target="_blank">
        <p class="blog-text">Advanced Iterator Pattern</p>
        <img class="blog-img" src="/img/blog/iterator-pattern-uml.png"
        </a>
      <a href="" alt="" target="_blank"></a>
      <p class="blog-article-preview text-left">
        In the Basic Iterator article you have used an existing iterator to simplify our Car Parts Store ,
         having learned about iterators you might have wondered if you can create your own iterator...
      </p>
    </div>

  <div class="col-md-4">
      <a href="https://achimoraites.blogspot.gr/2017/11/design-patterns-basic-iterator.html" alt="Basic Iterator Pattern" target="_blank">
        <p class="blog-text">Basic Iterator Pattern</p>
        <img class="blog-img" src="/img/blog/iterator-pattern-uml.png"
        </a>
      <a href="" alt="" target="_blank"></a>
      <p class="blog-article-preview text-left">
        Among the most common things in a collection of items is the ability to iterate through the collection ,
         in Java for example there are data structures that allowing ...
      </p>
  </div>

  <div class="col-md-4">
      <a href="https://achimoraites.blogspot.gr/2017/11/design-patterns-observer.html" alt="Observer Pattern" target="_blank">
        <p class="blog-text">Observer Design Pattern</p>
        <img class="blog-img" src="/img/blog/observer-pattern-uml.png"
        </a>
      <a href="" alt="" target="_blank"></a>
      <p class="blog-article-preview text-left">
        The observer design pattern is useful in cases we want a change in an object (subject) to be known to one or more other objects...
      </p>
    </div>

</div>

<div class='row blog-box'>
<h3 class="blog-title">Currently working on</h3>
    <div class="col-md-6">


        <p class="blog-text">Book keeper app</p>
        <img class="blog-img" src="/img/unfinished/book_keeper_app1.png"

      <a href="" alt="" target="_blank"></a>
      <p class="blog-article-preview text-left">
        Book keeper is an android app that manages users favorite books, the user will be able to
        add, remove and rate books.
      </p>
    </div>
    
    <div class="col-md-6">


        <p class="blog-text">Twitter Mapper</p>
        <img class="blog-img" src="/img/unfinished/twitterMapper.jpg"

      <a href="" alt="twitterMapper" target="_blank"></a>
      <p class="blog-article-preview text-left">
        Working on my Twitter Mapper Project ,while it is still in a developing phase here what it looks now.

     The purpose of the app is to allow a user to search Twitter for specific keywords and the app is displaying
     the users that best match those based on what they tweet right now, for the time being it shows only their
     twitter avatar and location.
      </p>
    </div>


</div>




</br>
<h3 class="about-me-title">About me</h3>
<div class='row text-left well skill-box'>

    <div class='col-md-4 col-md-4 '>
        <img class='img-responsive center-block avatar'  src='/img/avatar.jpg' />
        <a href="#!/projects" class='btn btn-primary skill-btn'>My Projects</a>
        <a href="#!/cv" class='btn btn-primary skill-btn2'>My CV</a>
        <a href="https://achimoraites.blogspot.gr" target="_blank" class='btn btn-primary  blog-btn'>Blog</a>
    </div>
    <div class='col-md-8 details '>

        <p>Hi! I am a self taught Web Developer , a Network Engineer , a Nature Lover and a curious individual.  </p>
        </br>
        <p>Currently i am working to expand my knowledge in Full Stack Web Development and Android development</p>
        </br>
        <p>My programming skills include :  Java, Angular , NodeJS , Python and MongoDB.</p>
        </br>
        <p></p>
        </br>
        <div class="text-center skill-box">

            <img class='skill' src='/img/skills-icons/Angular.png' alt='Angular' title='Angular' />
            <img class='skill' src='/img/skills-icons/Javascript.png' alt='JavaScript' title='JavaScript' />
            <img class='skill' src='/img/skills-icons/Node.png' alt='Node' title='Node' />
            <img class='skill' src='/img/skills-icons/Python.png' alt='Python' title='Python' />
            <img class='skill' src='/img/skills-icons/GitHub.png' alt='Git version control' title='Git' />
        </div>
    </div>

</div>
