</br>
<div class='row text-left well skill-box'>

    <div class='col-md-4 col-md-4 '>
        <img class='img-responsive center-block avatar'  src='/img/avatar.jpg' />
        <a href="#!/projects" class='btn btn-primary skill-btn'>My Projects</a>
        <a href="#!/cv" class='btn btn-primary skill-btn2'>My CV</a>
        <a href="https://achimoraites.blogspot.gr" target="_blank" class='btn btn-primary  blog-btn'>Blog</a>
    </div>
    <div class='col-md-8 details '>

        <p>Hi! I am a self taught Web Developer , a Network Engineer , a Nature Lover and a curious idividual.  </p>
        </br>
        <p>Currently i am working to expand my knowledge in Full Stack Web Development and Android development</p>
        </br>
        <p>My programming skills include :  Java, Angular , NodeJS , Python and MongoDB.</p>
        </br>
        <p></p>
        </br>
        <div class="text-center skill-box">

            <img class='skill' src='/img/skills-icons/Angular.png' alt='Angular' title='Angular' />
            <img class='skill' src='/img/skills-icons/Javascript.png' alt='JavaScript' title='JavaScript' />
            <img class='skill' src='/img/skills-icons/Node.png' alt='Node' title='Node' />
            <img class='skill' src='/img/skills-icons/Python.png' alt='Python' title='Python' />
            <img class='skill' src='/img/skills-icons/GitHub.png' alt='Git version control' title='Git' />
        </div>
    </div>

</div>


</br>
<div class='row blog-box'>
<h3 class="blog-title">Latest Blog Articles</h3>
    <div class="col-md-4">

      <a href="https://achimoraites.blogspot.gr/2017/11/design-patterns-advanced-iterator.html" alt="Advanced Iterator Pattern" target="_blank">
        <p class="blog-text">Advanced Iterator Pattern</p>
        <img class="blog-img" src="/img/blog/iterator-pattern-uml.png"
        </a>
      <a href="" alt="" target="_blank"></a>
    </div>

  <div class="col-md-4">
      <a href="https://achimoraites.blogspot.gr/2017/11/design-patterns-basic-iterator.html" alt="Basic Iterator Pattern" target="_blank">
        <p class="blog-text">Basic Iterator Pattern</p>
        <img class="blog-img" src="/img/blog/iterator-pattern-uml.png"
        </a>
      <a href="" alt="" target="_blank"></a>
  </div>

  <div class="col-md-4">
      <a href="https://achimoraites.blogspot.gr/2017/11/design-patterns-observer.html" alt="Observer Pattern" target="_blank">
        <p class="blog-text">Observer Design Pattern</p>
        <img class="blog-img" src="/img/blog/observer-pattern-uml.png"
        </a>
      <a href="" alt="" target="_blank"></a>

    </div>

</div>
