
  <!-- Navbar content -->
  <div class="container-fluid" ng-controller="scrollCtrl">
      <div class="navbar-header">
        <button id="nav-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Achilles Moraites</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active" ><a href="#!/home" ng-click="goToTop()">Home</a></li>
          <li><a href="#!/projects" ng-click="goToTop()">Projects</a></li>
          <li><a href="#!/contact" ng-click="goToTop()">Contact</a></li>
        </ul>

      </div>
    </div>
