<section ng-controller='projectsCtrl'>
  <!--This allows for better onganization  -->

  <main id="projects" class="row">
    <section>
      <header>
        <h2 class="blog-title">Projects</h2>
      </header>

      <hr style="border: 1px solid var(--base-color)" hr>

      <div ng-repeat="project in myProjects track by project.id">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>

        <article class="col-md-4 project-box">
          <header>
            <h2>{{::project.name}}</h2>
          </header>

          <p alt="project description" class="text-muted">{{::project.description}}</p>
        
          <picture alt="project image" id={{$index}} class="img-responsive center-block myImg" ng-click = "toggleModal('modal'+$index)">
            <source type="image/webp" srcset={{project.imgWebp}}>
            <source type="image/png" srcset={{project.img}}>
              <img src={{project.imgWebp}} >
          </picture>
          <!-- The Modal -->

          <div id={{'modal'+$index}} class="modal">
            <span ng-click = "closeModal('modal'+$index)" class="close">&times;</span>
            <!-- <img class="modal-content" id={{'img'+$index}} ng-src={{project.img}} 
            > -->
            <img alt="modal image" class="modal-content" id={{'img'+$index}} data-ng-src={{project.img}} class="lazyload"
            >
            <div class="caption">{{::project.description}}</div>
          </div>

          </br>
          <p class='text-muted'>{{::project.skills}}
            <i class="fa fa-tags" aria-hidden="true"></i>
          </p>
          <a aria-label={{::project.name}} ng-href={{::project.url}} class='btn btn-primary project-btn'>Visit {{::project.name}} </a>
        </article>
      </div>

    </section>

  </main>

</section>