<section aria-label="projects" ng-controller='projectsCtrl'>
  <!--This allows for better onganization  -->

  <section id="projects" class="row">
    <section>
      <header>
        <h2 class="blog-title">Projects</h2>
      </header>

      <hr style="border: 1px solid var(--base-color)" hr>

      <div aria-label="project" ng-repeat="project in myProjects track by project.id">
        <div class="clearfix" ng-if="$index % 2 == 0"></div>

        <article class="col-md-6 project-box">
          <header>
            <h2>{{::project.name}}</h2>
          </header>

          <p alt="project description" class="text-muted">{{::project.description}}</p>

          <picture alt="project image" id={{$index}} class="img-responsive center-block myImg" ng-click="toggleModal('modal'+$index)">
            <source type="image/webp" ng-srcset={{project.img.webp}}>
            <source type="image/png" ng-srcset={{project.img.sm}}>
            <img class="lazyload" ng-data-src={{project.img.webp}}>
          </picture>
          <!-- The Modal -->

          <div id={{'modal'+$index}} class="modal">
            <span ng-click="closeModal('modal'+$index)" class="close">&times;</span>
            <img id={{'img'+$index}} alt="modal image" class="modal-content" ng-src={{project.img.sm}} data-ng-srcset="{{project.img.sm}} 480w,{{project.img.lg}} 1080w"
              sizes="50vw">
            <div class="caption">{{::project.description}}</div>
          </div>

          </br>
          <p class='text-muted'>{{::project.skills}}
            <i class="fa fa-tags" aria-hidden="true"></i>
          </p>
          <a aria-label={{::project.name}} ng-href={{::project.url}} class='btn btn-primary project-btn' rel="noopener">Visit
            {{::project.name}} </a>
        </article>
      </div>

    </section>

  </section>

</section>