<section ng-controller='projectsCtrl'>
  <!--This allows for better onganization  -->

  <main id="projects" class="row">
    <section>
      <header>
        <h2 class="blog-title">Projects</h2>
      </header>

      <hr style="border: 1px solid var(--base-color)" hr>

      <div ng-repeat="project in myProjects track by project.id">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>

        <article class="col-md-4 project-box">
          <header>
            <h2>{{project.name}}</h2>
          </header>

          <p class="text-muted">{{project.description}}</p>
          <img id={{$index}} class="img-responsive center-block myImg" ng-src={{project.img}}
          ng-click = "toggleModal('modal'+$index)"
          />
          <!-- The Modal -->

          <div id={{'modal'+$index}} class="modal">
            <span ng-click = "closeModal('modal'+$index)" class="close">&times;</span>
            <img class="modal-content" id={{'img'+$index}} ng-src={{project.img}}
            >
            <div class="caption">{{project.description}}</div>
          </div>

          </br>
          <p class='text-muted'>{{project.skills}}
            <i class="fa fa-tags" aria-hidden="true"></i>
          </p>
          <a class='btn btn-primary project-btn' ng-href={{project.url}}>Visit {{project.name}}</a>
        </article>
      </div>

    </section>

  </main>

</section>