/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
	@apply bg-gray-900 rounded text-white font-mono text-base p-2 md:p-4 m-2 max-w-max;
}

code {
	@apply break-words whitespace-pre-wrap;
}
